*{
    font-family: Arial, Helvetica, sans-serif;
}



#box{
    border: 2px solid purple;
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#a{
    color: blue;
    font-size: 20px;
}

#b{
    border: 1px solid purple;
    height: 40px;
    width: 350px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#c{
    display: flex;
    justify-content: space-evenly;
}

.ca{
    height: 40px;
    width: 80px;
    background-color: purple;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}



#e{
    width: 300px;
    height: 30px;
    border-radius: 0.5rem;
    border: 1px solid black;
}